#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    leds {
        bmp: bmp_led {
            gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
            label = "Status LED";
        };
    };
};